# generic - python
__pycache__/
*.py[cod]
*$py.class
.env

# PyCharm
.idea/

# VS Code
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.coverage

# PatrikJ special
.BACKUP/
BACKUP/

#... for this project - ignore files inside cache but not the cache folder
/cache/*
!/cache/.gitignore
#
*.db
#

